/* This is a CSS comment. */
body {
	padding: 20px 10px;
	font-family: sans-serif;
	max-width: 100%;
	margin: 0 auto; /* The 0 refers to the top and bottom margins and the "auto" automatically */
	font-size: 1.6em;
}       

h1 {
	text-align: center;
	color: #5A5A5A; /* This is a "HEX code" for a color. HEX is one of many ways programmers can precisely specify colors. */
}

p {
	margin: 10px 0;
}

a {
    color: #02CCFE; /* HEX color used to change the color of the anchor tag */
}

a:link {
    text-decoration: none; /* Removed underline from the anchor tag */
}
ul {
	list-style-type: none; /* this removes the bullets that show up by default in unordered lists */
}

li {
	font-size: 1em;/* em is another unit to specify font sizes (like px) this "em" refers to something different than the <em> tag. */
	line-height: 2em;
}


/* When a line of CSS begins with a . dot, like in .mynotes, it use a class that can be used throughout the website. */
.mynotes {
	background-color: #EEEEEE;
	color: #5A5A5A;
	padding: 10px;
	margin: 10px auto;
  border-radius: 10px;
}

h2 {
	margin: 20px; /* Add space top and bottom */
  color: #02CCFE
}

.definition {
	background-color: #EEEEEE;
	padding: 4px;
	margin: 10px;
	border-radius: 10px;
	color: black;
}

.definition-title {
	font-size: 1.6em;
	margin: 10px;
	text-align: center;
	color: #5A5A5A;
}

.definition-description {
	color: #5A5A5A; 
  font-size: 0.75em;
	margin: 10px;
}